@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    background: #0C021A;
    display: flex;
    color: white;
}

/* MENU LATERAL */

.menu {
    width: 200px;
    min-width: 200px;
    background: #14042A;
    padding: 30px 20px;
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.4);
    min-height: 100vh;
}

.menu h2 {
    margin-bottom: 30px;
    color: #ae80ed;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 20px 0;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li strong {
    text-decoration:underline;
}

.menu li:hover {
    background: #1E0A3A;
}
