.sairBotao:hover{
    transform: scale(105%);
}

.sairBotao {
    position: absolute;
    bottom: 20px;
    width: 140px;
    height: 28px;
    padding: 6px;    
    background-color: #300968;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.sairBotao:hover {
    background-color: #9258e6;
}

.sairBotao a{
    text-decoration: none;
    color:white;
}